ul {
                list-style: none;
}
#links {
            height: 80px;
}
aside > nav {
                height: 100%;
                width: 10%;
                align-content: flex-start;
}
aside > nav > ul >li > a{
                            text-decoration: none;
                            color: white;
}
main {
        width: 89%;
        margin-left: 10%;
        height: 100%;
}